<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616118815993-ds9ue4que0emurelq60d1dig2v17o5k4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616118815993-ds9ue4que0emurelq60d1dig2v17o5k4</string>
	<key>API_KEY</key>
	<string>AIzaSyBau2GchZh9ktW4mdlkuRQcL97XF_xCdXQ</string>
	<key>GCM_SENDER_ID</key>
	<string>616118815993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>by.lesson1.pavel-bazylevich.MyCookBook</string>
	<key>PROJECT_ID</key>
	<string>mycookbook-88d2b</string>
	<key>STORAGE_BUCKET</key>
	<string>mycookbook-88d2b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616118815993:ios:28abeca59801f601c02628</string>
</dict>
</plist>